<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.knowledges.mapper.OrgMapper" >
  <resultMap id="BaseResultMap" type="com.example.knowledges.model.Org" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="full_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="org_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parent_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="data_org" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, full_name, name, org_code, parent_id, data_org
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_org
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_org
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.knowledges.model.Org" >
    insert into t_org (id, full_name, name, 
      org_code, parent_id, data_org
      )
    values (#{id,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{orgCode,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{dataOrg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.knowledges.model.Org" >
    insert into t_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="dataOrg != null" >
        data_org,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="dataOrg != null" >
        #{dataOrg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.knowledges.model.Org" >
    update t_org
    <set >
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="dataOrg != null" >
        data_org = #{dataOrg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.knowledges.model.Org" >
    update t_org
    set full_name = #{fullName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      data_org = #{dataOrg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>